/*-- 主体 --*/
.main{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
/*-- 充值 --*/
.main .block-list{
	width: 100%;
	height: 9.8rem;
	background: #fff;
	border-top: 1px solid #e1e1e1;
	border-bottom: 1px solid #e1e1e1;
	margin-bottom: 0.85rem;
	padding: 1.05rem;
}
.main .block-list ul li{
	line-height: 2.55rem;
	font-size: 1.25rem;
	color: #666666;
}
.main .block-list ul li .list-li{
	width: 5.4rem;
	display: inline-block;
	margin-right: 0.5rem;
}
.main .block-list ul li .money{
	color: #fd3f51;
}
/*-- 微信支付 --*/
.main .payment{
	width: 100%;
	height: 5.1rem;
	background: #fff;
	border-top: 1px solid #e1e1e1;
	border-bottom: 1px solid #e1e1e1;
	padding-left: 1.05rem;
	padding-right: 1.05rem;
}
.main .payment dl dt{
	width: 3.4rem;
	height: 5.1rem;
	padding-top: 1.3rem;
}
.main .payment dl dt i{
	width: 2.55rem;
	height: 2.55rem;
	display: inline-block;
}
.main .payment dl dt i img{
	width: 100%;
	height: auto;
}
.main .payment dl dd{
	justify-content:space-between;
	line-height: 5.1rem;
}
.main .payment dl dd h4{
	font-weight: 500;
	font-size: 1.25rem;
}
.main .payment dl dd p{
	height: 5.1rem;
	width: 1.55rem;
	padding-top: 0.5rem;
}
.main .payment dl dd p i{
	display: inline-block;
	width: 1.55rem;
	height: 1.55rem;
	background: url(../images/yuan_03.png) no-repeat;
	background-size: 100% 100%;
}
.main .payment dl dd p i.butt{
	background: url(../images/yuan1_03.png) no-repeat;
	width: 1.55rem;
	height: 1.55rem;
	display: inline-block;
	background-size: 100% 100%;
}
